<% include ../partials/header %>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<h1></h1>
<a href="/battle/new">Challenge an opponent to a battle </a>
<div class="ui container">
  <h1> Battle! </h1>
  <table>
    <tr>
      <th> Game </th>
      <th> Player 1 </th>
      <th> PLayer 2 </th>
      <th> Score 1 </th>
      <th> Score 2 </th>
    </tr>
  <% for(var i = 0; i < battle.length; i ++){ %>
  <tr>
   <% for(var k = 0; k < battle[i].spillere.length-1; k++){%>
    <td> <%= i %> </td>
    <td> <%= battle[i].spillere[k].username %> </td>
    <td> <%= battle[i].spillere[k+1].username %> </td>
    <td> <%= battle[i].spillere[k].score %> </td>
    <td> <%= battle[i].spillere[k+1].score %> </td>
    </tr>
    <% } %> 
  
  <% } %>
  
  
</table>


<% include ../partials/footer %>