<% include ../partials/header %>
<style>
  .skiftFarge {
    backgroundColor: green;
  }
</style>
<div class="ui container">
<table class="ui selectable inverted table">
  <thead>
    <tr>
      <th>Game</th>
      <th>Challenger</th>
      <th>Oppenent</th>
      <th class="right aligned">Score C</th>
      <th class="right aligned">Score O</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < battle.length; i ++){ %>
    <tr>
      <% for(var k = 0; k < battle[i].spillere.length-1; k++){%>
      <% var challengerScore = battle[i].spillere[k].score;%>
      <% var opponentScore = battle[i].spillere[k+1].score;%>
      <td><span><a href="#"> <%= i %> </a></span><%=": " + battle[i].spill.name  %></td>
      <td><%= battle[i].spillere[k].username; %></td>
      <td><%= battle[i].spillere[k+1].username; %></td>
      <td class="right aligned"><%= challengerScore %></td>
      <td class="right aligned"><%= opponentScore %></td>
    </tr>
    <% } %> 
  </tbody>
  <% } %>
</table>
<table class="ui inverted table">
  <thead>
    <tr>
      <th>Games</th>
      <th>Wins</th>
      <th>Losses</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=battle.length%></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</div>














<h1></h1>
<a href="/battle/new">Challenge an opponent to a battle </a>


<% include ../partials/footer %>