<% include ../partials/header %>

<div class ="ui container segment" >
   <div class="ui grid">
      <div class="four wide column">
         <div class="ui card ">
            <div class="image">
                  <img src=<%= brukeren.avatar.toString() %>>
            </div>
         </div>
         <hr>
         <div class="content">
            <div id="brukeren">
               <% try { %>
                 <%= brukeren.username %> 
               <% } catch(err) { %>
                 <script>
                    document.querySelector(".header").innerHTML = "finner ikke brukernavn";
                 </script>
               <% } %>
            </div>
            <div class="meta">
                <div id="dato">
               <% try { %>
                  Joined: <span class="date"><%= brukeren.opprettet.toDateString() %></span>
               <% } catch(err) { %>
                  <script>
                    document.querySelector(".date").innerHTML = "";
                 </script>
               <% } %>
            </div>
            <div id="beskrivelse">
               <% try { %>
                <% if(brukeren.beskrivelse === "") {%>
                    <% if(currentUser) { %>
                        <p><a href="/<%= currentUser.username %>/settings">Skriv en beskrivelse</a></p> %>
                    <% }else {%>
                        <%= brukeren.beskrivelse %>
                    <% }%>
                <% } else {%>
                    <p><%= brukeren.beskrivelse %></p>
                <% }%>
               <% } catch(err) { %>
                  <div>ingen beskrivelse</div>
               <% } %>
               </div>
               
            </div>
            <div class="extra content">
               <a>
               <i class="users icon"></i>
               
               </a>
            </div>
         </div>
      </div>
      <div class="twelve wide column">
         <!-- EKSEMPEL LOREM/feed TIL SIDEN -->
         <div class="ui container segment">
            <div class="ui large feed">
               <div class="event">
                  <div class="label">
                     <img src="/images/avatar/small/elliot.jpg">
                  </div>
                  <div class="content">
                     <div class="summary">
                        <a class="user">
                        Elliot Fu
                        </a> added you as a friend
                        <div class="date">
                           1 Hour Ago
                        </div>
                     </div>
                     <div class="meta">
                        <a class="like">
                        <i class="like icon"></i> 4 Likes
                        </a>
                     </div>
                  </div>
               </div>
               <div class="event">
                  <div class="label">
                     <i class="pencil icon"></i>
                  </div>
                  <div class="content">
                     <div class="summary">
                        You submitted a new post to the page
                        <div class="date">
                           3 days ago
                        </div>
                     </div>
                  </div>
               </div>
               
            </div>
         </div> <!-- CONTAINER -->
      </div> <!-- twelve wide column -->
   </div>  <!-- ui grid -->
</div> <!-- CONTAINER -->
<% include ../partials/footer %>
 